/* color palette from <https://github.com/vuejs/theme> */
:root {
	--vt-c-white: #ffffff;
	--vt-c-white-soft: #f8f8f8;
	--vt-c-white-mute: #f2f2f2;
  
	--vt-c-black: #181818;
	--vt-c-black-soft: #222222;
	--vt-c-black-mute: #282828;
  
	--vt-c-indigo: #2c3e50;
  
	--vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
	--vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
	--vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
	--vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  
	--vt-c-text-light-1: var(--vt-c-indigo);
	--vt-c-text-light-2: rgba(60, 60, 60, 0.66);
	--vt-c-text-dark-1: var(--vt-c-white);
	--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  }
  
  /* font family */
  :root {
	--font-family: 
  }
  
  /* semantic color variables for this project */
  :root {
	--color-background: var(--vt-c-white);
	--color-background-soft: var(--vt-c-white-soft);
	--color-background-mute: var(--vt-c-white-mute);
  
	--color-border: var(--vt-c-divider-light-2);
	--color-border-hover: var(--vt-c-divider-light-1);
  
	--color-heading: var(--vt-c-text-light-1);
	--color-text: var(--vt-c-text-light-1);
  
	--section-gap: 160px;
  }
  /* border */
  :root {
	--border-px: 0.375rem;
  }
  
  /* padding */
  :root {
	--pd-primary: 0.75rem;
  }
  
  @media (prefers-color-scheme: dark) {
	:root {
	  --color-background: var(--vt-c-black);
	  --color-background-soft: var(--vt-c-black-soft);
	  --color-background-mute: var(--vt-c-black-mute);
  
	  --color-border: var(--vt-c-divider-dark-2);
	  --color-border-hover: var(--vt-c-divider-dark-1);
  
	  --color-heading: var(--vt-c-text-dark-1);
	  --color-text: var(--vt-c-text-dark-2);
	}
  }
  
  *,
  *::before,
  *::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
  }
  
  body {
	min-height: 100vh;
	line-height: 1.6;
	font-family: var(--font-family), cursive;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  