/* GLOBAL */
.hidden {
	display: none;
}
.pointer {
	cursor: pointer;
}
.mt-20 {
	margin-top: 20px;
}
.text-danger {
	color: red;
}
/* LOGIN FORM */
.login {
	width: 400px;
	height: auto;
	padding: var(--pd-primary);
	border: 1px solid black;
	box-sizing: border-box;
	margin: 100px auto;
	background-color: #f2f7f5;
	box-shadow: 0.6rem 0.6rem 0 #222;
}
.login .logo img {
	width: 100px;
}
.login .logo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login h2 {
	font-weight: 300;
	font-size: 2.25rem;
}
.login h3 {
	font-size: 1.25rem;
}
.login h2, .login h3 {
	text-align: center;
}
form .form-group {
	display: flex;
	flex-direction: column;
}
form .form-group input[type=color],form .form-group input[type=number], form .form-group input[type=text], form .form-group input[type=email], form .form-group input[type=password]{
	height: 2.5rem;
	outline: transparent solid 2px;
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	font-family: var(--font-family);
	color: #1A202C;
}
form .form-group:not(:first-child) {
	margin-top: 0.75rem;                                                                                                   
}
form .error input[type=color], form .error input[type=number], form .error input[type=text], form .error input[type=email], form .error input[type=password]{
	border-bottom: 2px solid red;
}
form .error span {
	color: red;
}
form .form-group label {
	font-size: 1rem;
}
form .form-group span {
	font-size: 0.875rem;
	margin-top: 0.5rem;
}
form button {
	margin-top: 0.75rem;
	background: #8bd3dd;
	box-shadow: 0.4rem 0.4rem 0 #222;
	padding: 0.5rem 1.25rem;
	font-size: 1.125rem;
	font-family: var(--font-family);
}
/* homepage */
.homepage {
	width: 900px;
	height: auto;
	margin: 0px auto;
}
.homepage .navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0 1rem 0;
}
.homepage .navbar .logo img {
	width: 100px;
}
.homepage .navbar .logo {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.875rem;
	font-weight: 300;
}
.btn {
	background-color: #f2f7f5;
	border: 1px solid black;
	box-shadow: 0.4rem 0.4rem 0 #222;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-inline-start: 1.25rem;
	padding-inline-end: 1.25rem;
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.homepage .main .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage .main .header h1 {
	font-size: 1.5rem;
}
.btn-full {
	width: 100%;
}
.btn span {
	display: block;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(1.2rem);
	border-radius: 100%;
	text-transform: uppercase;
	background: rgb(10, 226, 95);
}
.homepage .main .summary h1{
	font-size: 1.25rem;
}
.homepage .main .summary h1 {
	font-weight: 800;
}

.homepage .main .summary h1 span {
	font-weight: 300;
}
.w-account {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	gap: 20px;
}
.box {
	background-color: #f2f7f5;
	border: 1px solid black;
	box-shadow: 0.4rem 0.4rem 0 #222;
	padding-top: 2em;
    padding-bottom: 2em;
    padding-inline-start: 3em;
    padding-inline-end: 3em;
	height: 140px;
	width: 250px;
}
.box p {
	font-weight: 800;
}
.box h2 {
	font-size: 1rem;
	font-weight: 800;
}
.box-add {
	text-align: center;
}
.box img {
	width: 50px;
	height: 50px;
}
.box-success {
	background-color: #b2e0e6;
}
.item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #f2f7f5;
	border: 1px solid black;
	box-shadow: 0.4rem 0.4rem 0 #222;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-inline-start: 1.25rem;
	padding-inline-end: 1.25rem;
}
#account-name, #nominal {
	font-weight: 800;
} 
.item .title h2, .item .title h1, .item .description h2 {
	font-size: 1rem;
}

input[type=date] {
	padding: 0.3rem 2rem;
}